header {
  margin-top: -1vh;
  min-height: 10vh;
  padding: 2vh 0 1vh;

  a {
    color: white;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    opacity: 0.55;
    font-weight: 600;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease,
      color 0.2s ease;
  }

  nav a:hover {
    transform: scale(1.25);
  }

  nav a.active {
    transform: scale(1.25);
    opacity: 1;
  }

  nav {
    margin-left: 60%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.site-header_logo {
  font-size: 2rem;
  text-decoration: none;
  margin-top: 2vh;
}

.site-header_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
