footer {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 12vh;
}

.footer-links {
  min-width: 15vw;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
  }
}
