<div
  class="photo-carousel"
  (mouseenter)="pause()"
  (mouseleave)="resume()"
  (click)="pauseTemporarily()">
  <button class="photo-carousel__button photo-carousel__button--prev" (click)="previousManually()">
    <img src="arrow-prev.svg" alt="">
  </button>

  <button class="photo-carousel__button photo-carousel__button--next" (click)="nextManually()">
    <img src="arrow-next.svg" alt="">
  </button>
  <div
    #track
    class="photo-carousel__track"
    [class.photo-carousel__track--no-transition]="!transitionEnabled()"
    [style.transform]="trackTransform()"
    (transitionend)="onTransitionEnd()">
    @for (photo of loopedPhotos(); track $index) {
      <div class="photo-carousel__item"
           [class.photo-carousel__item--side]="isSideItem($index)">
        <img [src]="photo" alt="">
      </div>
    }
  </div>
</div>
