<div class="selected-section">
  <h2>Ads</h2>
  <div class="selected-section__content">
    @for (project of selectedProjects; track project.videoUrl) {
      @if (project.videoUrl) {
        <app-youtube-video-preview
          [videoPreviewTitle]="project.contentTitle"
          [videoUrl]="project.videoUrl"
          [thumbnailUrl]="project.thumbnailUrl"
          previewVariant="selected">
        </app-youtube-video-preview>
      }
    }
  </div>
  <a href="/projects" class="selected-section__button">View All Projects</a>
</div>
