<div class="video-project-card__wrapper">
  <!-- Passes only a list of reels -->
  @if (projectList; as reels) {
    <app-reel-carousel [reels]="reels"></app-reel-carousel>
  }
  @else if (project; as currentProject) {
    @if (currentProject.type === PROJECT_TYPES.VIDEO && currentProject.frameImagesUrls) {
      <app-photo-carousel [photos]="currentProject.frameImagesUrls"></app-photo-carousel>
    }
    @if (currentProject.type === PROJECT_TYPES.VIDEO && currentProject.videoUrl) {
      <app-youtube-video-preview
        [videoPreviewTitle]="currentProject.contentTitle"
        [videoUrl]="currentProject.videoUrl"
        [thumbnailUrl]="currentProject.thumbnailUrl"
        previewVariant="default">
      </app-youtube-video-preview>
    }
    <!--TODO replace <p> with <app-expandable-section>, pass content type and string length-->
    <p class="description">{{ project.description }}</p>
  }
</div>
